.work__image_second {
    width: 100%;
    background-image: url(../../../../images/main2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 340px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
